.app-area {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  height: 70px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat";
}

.app-image-grid-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  flex: 1;
}